<table id="clients" class="table table-bordered">
    <thead>
        <th>Country</th>
        <th>Host</th>
        <th>User@Computer</th>
        <th>Operating System</th>
        <th>Ping</th>
        <th></th>
    </thead>

    <tbody id="body">

    </tbody>
</table>

<div id="menu" class="dropdown clearfix" style="position: absolute; display: none;">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block; position:static; margin-bottom:5px;">
        
        <li class="dropdown-submenu">
            <a tabindex="-1" id="item-view">View <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" id="item-view-screen">Screen</a></li>
                <li><a tabindex="-1" id="item-view-files">Files</a></li>
                <li><a tabindex="-1" id="item-view-processes">Processes</a></li>
                <li><a tabindex="-1" id="item-view-windows">Windows List</a></li>
            </ul>
        </li>
        
        <li class="divider"></li>

        <li class="dropdown-submenu">
            <a tabindex="-1" id="item-system">System <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" id="item-system-shutdown">Shutdown</a></li>
                <li><a tabindex="-1" id="item-system-reboot">Reboot</a></li>
            </ul>
        </li>

        <li id="item-disconnect"><a tabindex="-1">Disconnect</a></li>
    </ul>
</div>