/* Global */
body {
	font-family: arial, sans-serif;
}

/* Tables */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Clients */
.ping-0::before {
	content:url("../images/ping/ping0.png");
}

.ping-1::before {
	content:url("../images/ping/ping1.png");
}

.ping-2::before {
	content:url("../images/ping/ping2.png");
}

.ping-3::before {
	content:url("../images/ping/ping3.png");
}

.ping-4::before {
	content:url("../images/ping/ping4.png");
}

.ping-5::before {
	content:url("../images/ping/ping5.png");
}


/* Status bar */
.statusbar {
	font-family: arial, sans-serif;
	color: #888888;
	font-size: 12px;
	position: fixed;
	left: 5;
	bottom: 0;
}

.statusbar p {
	display: inline-block;
}

.version::before {
	content: "version: ";
}

.error {
	color: #ff0000;
}

/* Screen scale selector */
.scale {
	display: inline-block;
}