#terminal {
	background-color: #002B36;
}

#display {
	font-family: consolas;
	font-size: 14px;
	background-color: #002B36;
	color: #ffffff;
	width: 100%;
	bottom: 20px;
}

#command {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}